body{
    background-color:rgba(153, 150, 150, 0.329);
    font-family:'Times New Roman', Times, serif;
    font-size: 13pt;
    text-align: justify;
    border: 1px solid black;
    color: black;
    padding:5px;
    margin:50px;}
    #fundo{background-color:yellow}
    }
    h2{
    color:white;

}
